discord.py==2.3.2
python-dotenv==1.0.0
aiohttp==3.9.3
Pillow==10.2.0
opencv-python-headless==4.9.0.80
numpy==1.24.3
easyocr==1.7.1
deep-translator==1.11.4
googletrans==4.0.0rc1
requests==2.31.0
torch==2.1.0
torchvision==0.16.0
